---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [7]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

AttributeError: Can only use .str accessor with string values (i.e. inferred_type is 'string', 'unicode' or 'mixed')

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [5]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [6]:

def answer_one():
    
    
    return 'United States'
df.sort(['Gold'],ascending=[False]).head()

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:6: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [7]:
def answer_two():
    return "United States"
df['diff']= df['Gold'] - df['Gold.1']
df.sort(['diff'],ascending=False).head()

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,diff
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA,880
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS,317
Great Britain,27,236,272,272,780,22,10,4,12,26,49,246,276,284,806,GBR,226
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN,189
France,27,202,223,246,671,22,31,31,47,109,49,233,254,293,780,FRA,171

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [8]:
def answer_three():
    return "Bulgaria"
df['diff2']=(df[(df['Gold']>0) & (df['Gold.1']>0)]['Gold']-df[(df['Gold']>0) & (df['Gold.1']>0)]['Gold.1'])/df['Gold.2']
df.sort(['diff2'],ascending=False).head()

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,diff,diff2
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL,50,0.961538
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL,36,0.947368
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP,36,0.947368
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS,134,0.930556
Czechoslovakia,16,49,49,45,143,16,2,8,15,25,32,51,57,60,168,TCH,47,0.921569

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [12]:
def answer_four():
    points = df['Gold.2'] * 3 + df['Silver.2'] * 2 + df['Bronze.2']
    print(type(points))
    return points


#points
answer_four()

<class 'pandas.core.series.Series'>

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
dtype: int64

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [31]:
import pandas as pd
census_df = pd.read_csv('census.csv')

In [32]:
def answer_five():
    return "Texas"
#census_df['SUMLEV'].unique()
census_df=census_df[census_df['SUMLEV']==50]
census_df=census_df.set_index(['STNAME','CTYNAME'])
census_df.head()
a=0
maxi=0
for statename in census_df.index.levels[0]:
    a=len(census_df.loc[statename])
    if(a>maxi):
        maxi=a
        print(statename+str(a))
maxi
#census_df

Alabama67
Arkansas75
Georgia159
Texas254

254

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [33]:
def answer_six():
    b={}
    c=[]
    d=[]
    #print(census_df.loc['District of Columbia'])
    for st in census_df.index.levels[0]:
    #for ts in st['CENSUS2010POP']:
     #   a.append(ts)
    #for ts in
        gf=census_df.loc[st,:]
    #f=st.sort_values(gf('CENSUS2010POP'))
        a=(gf.sort_values('CENSUS2010POP',ascending=False)['CENSUS2010POP'][:3])

        b[a.sum()]=st
        c.append(a.sum())
        #print(census_df.loc[ts])
    c=sorted(c,key=int, reverse=True)
    for x in c[:3]:
    #print(b[x])
        d.append(b[x])
    return d
answer_six()

#census_df.set_index(['CENSUS2010POP'],append=True).sortlevel(2,ascending=False).head()

['California', 'Texas', 'Illinois']

# Question 7


Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [34]:
def answer_seven():
    return "Harris County"
a=[]
b={}
for st in census_df.index.levels[0]:
    county=census_df.loc[st]
    columns_to_get=['POPESTIMATE2010',
                    'POPESTIMATE2011',
                    'POPESTIMATE2012',
                    'POPESTIMATE2013',
                    'POPESTIMATE2014',
                    'POPESTIMATE2015']
    gf=(county[columns_to_get])
    #print(county.index.values)
    for ts in county.index.values:
        a.append(max(census_df.loc[st,ts].loc[columns_to_get])-min(census_df.loc[st,ts].loc[columns_to_get]))
        b[a[-1]]=ts
        #print(st +'  '+ ts)
print(b[max(a)])

Harris County

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [42]:


def answer_eight():
    import pandas as pd
    census_df = pd.read_csv('census.csv')
    census_df=census_df.reset_index()
    #print(census_df.head())
    #census_df=x
    census_df=census_df[census_df['SUMLEV']==50]
    cen_df=census_df[((census_df['REGION']== 1 ) | (census_df['REGION']==2)) & (census_df['POPESTIMATE2015']>census_df['POPESTIMATE2014'])]
    cen_df=cen_df[cen_df['CTYNAME']=='Washington County'].head()
    x=(cen_df[['STNAME', 'CTYNAME']])
    return x
answer_eight()
#for st in cen_df.index.levels[0]

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County